@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-10px); }
  60% { transform: translateY(-5px); }
}

@keyframes scrollIndicator {
  0% { transform: translateY(0); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translateY(6px); opacity: 0; }
}

.animate-bounce {
  animation: bounce 2s infinite;
}

.animate-scrollIndicator {
  animation: scrollIndicator 1.5s infinite;
}